<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Livros </title>
</head>

<body>

    <!-- (genero_artes, 'Artes'),
        (genero_biologia, 'Biologia'),
        (genero_ciencias, 'Ciências'),
        (genero_espanhol, 'Espanhol'),
        (genero_filosofia, 'Filosofia'),
        (genero_fisica, 'Física'),
        (genero_geografia, 'Geografia'),
        (genero_historia, 'História'),
        (genero_informatica, 'Informática'),
        (genero_ingles, 'Inglês'),
        (genero_matematica, 'Matemática'),
        (genero_portugues, 'Português'),
        (genero_quimica, 'Química'),
        (genero_sociologia, 'Sociologia'), -->
    <form action="index.html" method="POST">
        <select id="opcoes">
            <option value='as'>Artes</option>
            <option value='ba'>Biologia</option>
            <option value='fa'>Física</option>
            <option value='ha'>História</option>
        </select>
    </form>

    {%for item in livros%}
    {%if item.genero == %}
    <div class="livros">
        <p>Título: {{item.nome}}</p>
        <p>Autor: {{item.autor}}</p>
        <p>Descrição: {{item.descricao}}</p>
        <p>Data de publicação: {{item.lancamento}}</p>
        <a href="{{item.arquivo.url}}"><button>Download ou Ler Online</button></a>

    </div>
    {% endif %}
    {% endfor %}
</body>

</html>