<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css}">
    <script defer src="js/scripts.js"></script>
    <title>Biblioteca</title>
</head>
<body>
    <header>
        <h1>Biblioteca Hack</h1>
        <div class="menu-mobile">
            <a href="/">Início</a>
            <a href="/">Contato</a>
            <a href="/">Suporte</a>
            <a href="/">Login</a>
            <a href="/">Cadastre-se</a>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <p>O basico para todos</p>
    </footer>