<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%for item in livros%}
    <div class="livros">
        <p>Título: {{item.nome}}</p>
        <p>Autor: {{item.autor}}</p>
        <p>Descrição: {{item.descricao}}</p>
        <p>{{item.lancamento}}</p>
        <a href="{{item.arquivo.url}}"><button>Download ou Ler Online</button></a>
        
    </div>
    {% endfor %}
</body>
</html>